In [3]:
# Q1 #

num1=int(input())
num2=int(input())

if num2==0:
    print("division by zero not allowed")
elif num1 % num2 ==0:
    print(f"{num1} is divisible by {num2}")
else:
    print(f"{num1} is not divisible by {num2}")

 4
 2

4 is divisible by 2

In [5]:
# Q2 #

for i in range(1,10):
    if i % 2 !=0:
        print(i,"is odd")

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd

In [9]:
# Q3 #

l1=[1,2,3,4,5,6]

list=sum(l1)
print(list)

21

In [10]:
# Q4 #

year=int(input())

if(year % 4==0 and year % 100 !=0) or (year % 400 == 0):
    print("it is leap year")
else:
    print("is not leap year")

 1900

is not leap year

In [11]:
# Q5 #

string=input()

uppercase= string.upper()
lowercase= string.lower()

print("upper_",uppercase)
print("lower_",lowercase)

 nada

upper_ NADA
lower_ nada

In [13]:
# Q6 #

list1=['nada','ahmed','mohamed','ali','mona']

remove=list1.pop(2)

print(list1)

['nada', 'ahmed', 'ali', 'mona']

In [14]:
# Q7 #

l=[2,7,8,4,9,10,3]

l.sort()

print(l)

[2, 3, 4, 7, 8, 9, 10]

In [18]:
# Q8 #

num=int(input())

for i in range(1,11):
    print(num,'x',i,'=',num*i)

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
# Q9 #

def square(number):
    return number**2
num=int(input())
n=square(num)
print(n)

 2

4

In [29]:
# Q10 #

def sum_(num):
    if num>=100 and num<=999:
        d1=num//100
        d2=(num //10)%10
        d3=num%10
    return d1+d2+d3

number=int(input())
N=sum_(number)

print(N)

 123

6

In [35]:
# Q11 #

def reverse_(str):
    return str[::-1]

string=input()
string1=reverse_(string)
print(string1)

 nada

adan

In [38]:
# Q12 #

def count_string(str):

    words =str.split()

    return len(words)

string = input()

print(count_string(string))

 what is your name?

4

In [11]:
# Q13 #

def remove_elemnts(list1,index):
    remove.list1[index]
    return list1

lst=input()
n=int(input())
print(remove_elemnts,n)

 nada mohamed
 3

<function remove_elemnts at 0x0000026E93BD89A0> 3

In [43]:
# Q14 #

def duplicate(lst):
    list2=lst+lst
    return list2
input_list=input().split()

print(duplicate(input_list))

 1,2,3,4

['1,2,3,4', '1,2,3,4']

In [44]:
# Q15 #

def is_divisible(num1,num2):
    if num1%num2==0:
        return True
    else:
        return False

number1=int(input())
number2=int(input())
print(is_divisible(number1,number2))

 4
 2

True

In [46]:
# Q16 #

def power_(base,exponent):
    num=base**exponent
    return num
num1=int(input())
num2=int(input())
print(power_(num1,num2))

 2
 3

8

In [47]:
# Q17 #

numbers= [str(num) for num in range(2000,3001) if num%7 == 0 and num%5 != 0]

print(",".join(numbers))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

In [52]:
# Q18 #

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)

num=int(input())
print(f"{num},",factorial(num))

 5

5, 120

In [59]:
# Q19 #

def dictionary(i):
    num={n:n*n for n in range(1,i+1)}
    return num 

num1=int(input())
print(dictionary(num1))

 4

{1: 1, 2: 4, 3: 9, 4: 16}

In [60]:
# Q20 #

num=input()

numlist=num.split(",")

numtuple=tuple(numlist)

print(numlist)
print(numtuple)

 1,2,3,4,5

['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

In [202]:
# Q21 #

import math

def calculate_(c,d,h):
    Q=math.sqrt((2*c*d)/h)
    return Q
c=50
d=int(input())
h=30
result=calculate_(c,d,h)

print("the value of Q IS :",result)

 5

the value of Q IS : 4.08248290463863

In [64]:
# Q22 #
def _2d_array(x,y):
    array= [[i*j for j in range(y)] for i in range(x)]
    return array
x=int(input())
y=int(input())

result=_2d_array(x,y)

for row in result:
    print(row)

 3
 5

[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]

In [200]:
# Q23 #

def words(_string):
    w=_string.split()

    unique=set(w)

    sorted_=sorted(unique)

    result=' '.join(sorted_)
    return result

_string=input()

_output=words(_string)
print(_output)

 hello words nada hello

hello nada words

In [206]:
# Q24 #

def is_divisibleby5(binary_num):
    decimal_num=int(binary_num,2)
    return decimal_num%5==0

def filter_binary(input_string):
    binary_number=input_string.split(',')
    divisible_by_5=[num for num in binary_number if is_divisibleby5(num)]

    result=','.join(divisible_by_5)
    return result

input_string_binary=input()
output_string=filter_binary(input_string_binary)
print("binary num divisble by 5 ",output_string)

 1011,1111,1001

binary num divisble by 5  1111

In [65]:
# Q25 #

def even(num):

    return all(int(digit)%2 == 0 for digit in str(num))
even_numbers=[str(num) for num in range(1000,3001) if even(num)]
print(",".join(even_numbers))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [215]:
# Q26 #

def count(sentence):
    letters=0
    digits=0

    for char in sentence:
        if char.isalpha():
            letters+= 1
        elif char.isdigit():
            digits += 1
    return letters, digits

list1=input()

letters,digits=count(list1)

print(letters)
print(digits)

 nada22

4
2

In [214]:
# Q27 #

def count(lst):
    uppercase=0
    lowercase=0

    for char in lst:
        if char.isupper():
            uppercase+= 1
        elif char.islower():
            lowercase+= 1
    return uppercase , lowercase
    
sentence=input()
uppercase , lowercase=count(sentence)
print(uppercase)
print(lowercase)

 NADAmo

4
2

# Q28 #

def ifodd(num1):
    
    if num1%2 !=0:
        print(num1**2)
    else:
        del(num1)
    return num1

num=int(input())
numbers=[int(number) for number in num.split(",")]
print(ifodd(num))

In [210]:
# Q29 #

def sort_tuples():
    tuples_list=[]
    while True:
        user_input=input("enter name,age,height:")
        if user_input.lower()=='stop':
            break
        name,age,height=user_input.split(',')
        tuples_list.append((name.strip(),int(age.split()),float(height.strip())))
    tuples_list.sort(key=lambda x:(x[0],x[1],x[2]))

    for tup in tuples_list:
        print(tup)
if __name__=="__main__":
    sort_tuples()

enter name,age,height: nada,22,170

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [96]:
# Q30 #

def odd_or_even(num):
    if num%2==0:
        print("even")
    else:
        print("odd")
    return num
number=int(input())
print(odd_or_even(number))

 6

even
6

In [133]:
# Q31 #

def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1 or num == 2:
        return 1
    else:
        
         for i in range(num):
             return fibonacci(num-1)+fibonacci(num-2)
             
             
             
            
n=int(input())
print(fibonacci(n))

 7

13

In [136]:
# Q32 #

t=(1,2,3)

x,y,z=t

print("x:",x)
print("y:",y)
print("z:",z)

x: 1
y: 2
z: 3

In [137]:
# Q33 #

person={ 
    "name":"nada mohamed",
    "age":22,
    "city":"cairo"
}

print(person)

{'name': 'nada mohamed', 'age': 22, 'city': 'cairo'}

In [138]:
# Q34 #
# access and print #

age= person["age"]
print(age)

22

In [141]:
# Q35  #

# update age #

age=34
print(age)

34

In [13]:
# Q36 #

person ={
    "name":"nada",
    "age":22,
    "city":"cairo"
}

#iterate#

for key in person :
    print (f"{key}:{person[key]}")

name:nada
age:22
city:cairo

In [143]:
# Q37 #
# length of key #

num=len(person)
print(num)

3

In [149]:
# Q38 #

person.pop("city")
print(person)

{'name': 'nada', 'age': 22}

In [150]:
# Q39 #

if "gender" in person :
    print("yes")
else:
    print("no")

no

In [157]:
# Q40 #

book={
    "name":"money",
    "price":33
}
person.update(book)
print(person)

{'name': 'money', 'age': 22, 'price': 33, 'na': 'money'}

In [14]:
# Q41 #

keys_list=list(person.keys())
print(keys_list)

['name', 'age', 'city']

In [15]:
# Q42 #

values_list=list(person.values())
print(values_list)

['nada', 22, 'cairo']

In [161]:
# Q43 #

person.pop("name")
print(person)

{'age': 22, 'price': 33, 'na': 'money'}

In [162]:
# Q44 #

person.clear()

print(person)

{}

In [18]:
# Q45 #

person={
    "name":"nada",
    "age":22,
    "gender":"female"
}

sort=sorted(person.keys())
print(sort)

['age', 'gender', 'name']

In [19]:
# Q46 #

sort1=sorted(person.values())
print(sort1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
# Q47 #

max_=max(person,key)
print(max_)

TypeError: '>' not supported between instances of 'str' and 'dict'

In [21]:
# Q48 #

min_=min(person,key)
print(min_)

TypeError: '<' not supported between instances of 'str' and 'dict'

In [223]:
# Q49 #

sqr={x: x**2 for x in range  (1,6)}

print(sqr)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [228]:
# Q50 #


print(list(range(1,6)))

TypeError: 'int' object is not callable

In [178]:
# Q51 #

my_l=[1,2,2,3,4]

print(my_l[2])

2

In [179]:
# Q52 #

my_l[1]=10
print(my_l)

[1, 10, 2, 3, 4]

In [180]:
# Q53 #

num=len(my_l)
print(num)

5

In [181]:
# Q54 #

my_l.append(5)
print(my_l)

[1, 10, 2, 3, 4, 5]

In [182]:
# Q55 #
l1=[1,2,3]
l2=[10,20,30]
l3=l1+l2

print(l3)

[1, 2, 3, 10, 20, 30]

In [183]:
# Q56 #

repeat=my_l*3

print(repeat)

[1, 10, 2, 3, 4, 5, 1, 10, 2, 3, 4, 5, 1, 10, 2, 3, 4, 5]

In [186]:
# Q57 #

l1=[1,2,3,4,5,6,7,8,9,10]

for i in range(2,7):
    print(l1[i])

3
4
5
6
7

In [187]:
# Q58 #

for i in range(0,10):
    print(l1[i])

1
2
3
4
5
6
7
8
9
10

In [188]:
# Q59 #

list_=[3,5,72,1,6]

sort=sorted(list_)

print(sort)

[1, 3, 5, 6, 72]

In [190]:
# Q60 #

list_.reverse()
print(list_)

[3, 5, 72, 1, 6]

In [192]:
# Q61 #

list_.pop(2)
print(list_)

[3, 5, 1, 6]

In [193]:
# Q62 #

list_.clear()
print(list_)

[]

In [194]:
# Q63 #

sqr1=[x**2 for x in range(1,6)]
print(sqr1)

[1, 4, 9, 16, 25]

In [195]:
# Q64 #

l2=[10,20,30]

x,y,z=l2
print(x)
print(y)
print(z)

10
20
30